# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# Docker
*.pid
*.seed
*.tmp

# SSL Certificates
# Ignore SSL keys
nginx/ssl/*.crt
nginx/ssl/*.key


# Env files
.env

str.txt

# OS files
.DS_Store
Thumbs.db
